{% extends 'base.html' %}

{% block content %}

<div>My Blog: <a href="{{('index')}}">Home</a></div>
<hr>

<form action="" method="POST" novalidate>
    {{form.hidden_tag()}}
    <p>
        {{form.username.label}}<br>
        {{form.username(size = 32)}}
        {% for error in form.username.errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
        {%endfor%}
    </p>
    <p>
        {{form.password.label}}<br>
        {{form.password(size=32)}}
        {%for error in form.password.errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
    </p>
    <p>
        {{form.remember_me()}}{{form.remember_me.label}}
    </p>
    <p>
        {{form.submit()}}
    </p>

</form>

{% endblock  %}